@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

.container .tooltip {
  width: 13rem;
  background-color: hsl(217, 19%, 35%);
  color: #fff;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.75rem 0;
  position: absolute;
  z-index: 1;
  bottom: 41%;
  right: 21.2%;
}

div .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.75rem;
  border-width: 0.75rem;
  border-style: solid;
  border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}
